{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static "homepage/css/dashboard.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block header %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'search' %}">Recrangers search page</a>
    </div>
  </div>
</nav>
{% endblock header %}

{% block container %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h2 class="sub-header">Search</h2>
          <form method="get" action="/search">
  			<input type="text" name="activityname" placeholder="Search for something">
  			<input type="submit" class="btn btn-primary" value="search">
  		  </form>	
  		  <div>
  		  	{% for res in results %}
  		  	<ul>
  		  		<li>{{res.pk}}</li>
  		  		<li>{{res.activityname}}</li>
  		  	</ul>
  		  	{% endfor %}
  		  </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock container %}